#header{
	background-image: url("../Images/hero3-2.jpg");
	background-size: cover;
	width: 1349px;
	height: 600px;
	color: white;
}

.logo{
    float: left;
    margin: 8px;
}

.cadre1{
	width: 1349px;
	height: 360px;
}

.trois{
	width: 25%;
	float: left;
	margin-left: 100px;
	text-align: center;
	margin-top: 100px;
}

.trois1{
	margin-right: 500px;
	text-align: center;
}

.trois2{
	width: 25%;
	float: right;
	margin-right: 200px;
	text-align: center;
	margin-top: 100px;
}

.grafic{
	width: 80px;
	margin-top: 80px;
}

.point{
	width: 60px;
	margin-top: 50px;
}

.powerful{
	width: 90px;
	margin-top: 70px;
}

.cadre2{
	width: 1349px;
	height: 400px;
	background: rgba(175,175,175,0.1);

}

.gauche{
	width: 30%;
	float: left;
	margin-left: 200px;
	margin-top: 40px;
}

.droit{
	float: right;
	margin-top: 50px;
	margin-right: 200px;
}

.gauche1{
	width: 50%;
	float: left;
	margin-top: 52px;
}

.droit1{
	width: 35%;
	float: right;
	margin-right: 202px;
	margin-top: 40px;
}

.phone{
	width: 32%;
	float: right;
	margin-top: 50px;
	margin-right: 200px;
}

.cadre3{
	background-color: #669999;
	height: 900px;
	text-align: center;
	margin-top: 20px;
}

.trois3{
	width: 25%;
	float: left;
	margin-left: 150px;
	text-align: center;
	margin-top: 60px;
}

.trois4{
	margin-right: 500px;
	text-align: center;
}

.trois5{
    width: 25%;
	float: right;
	margin-right: 200px;
	text-align: center;
	margin-top: 57px;
}

.cadre4{
    width: 1349px;
	height: 300px;
	text-align: center;
	margin-top: 80px;
}

.cadre5{
	width: 1349px;
	height: 250px;
	text-align: center;
	background-color: black;
}

.cadre6{
	width: 1349px;
	height: 300px;
	text-align: center;
	background-color: black;
	margin-top: 0.5px;
	color: white;
}

.ranger{
	width: 627px;
	height: 90px;
	background-color: white;
	float: left;
}

.ranger1{
	width: 627px;
	height: 90px;
	background-color: white;
	float: right;
}

.ecriture{
	color: white;
}

.ranger2{
	width: 50%;
    float: right;
    margin-top: 20px
}

.ecriture1{
	text-align: center;
}

.btn-primary {
	background-color: orange;
	border-color: orange;
}

.btn-primary:hover{
	background-color: #cc6600;
	border-color: #cc6600;
}